<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "NFQ #5" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/jquery.rateyo.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/Oswald-Light.ttf') }}">
        <link rel="stylesheet" href="{{ asset('fonts/JerseyM54.ttf') }}">
        <link rel="stylesheet" href="{{ asset('css/workoutStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/commentsStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/workoutDetailsStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navigation.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/tags.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
{% block body %}
    {% include "::inc/header.html.twig" %}
    <div class="container">
        {% block container %}
        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-md-1">

                </div>
                <div class="col-md-10 text-left form">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-1">

                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
        {% include "::inc/footer.html.twig" %}
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/jquery.rateyo.min.js') }}"></script>
    <script src="{{ asset('js/commentLengthControl.js') }}"></script>
    <script src="{{ asset('js/ratings.js') }}"></script>
    <script src="{{ asset('js/facebookPlugin.js') }}"></script>
    <script>
        $(function () {
            var rating = "{{ workout.rating }}";
            if(rating=="")
            {
                rating=0;
            }
            $("#rating").rateYo({
                rating: rating,
                readOnly: true,
                starWidth: "60px"
            });

            var difficulty = "{{ workout.difficulty }}";
            $("#difficulty").rateYo({
                rating: difficulty,
                readOnly: true,
                starWidth:"60px"
            });
        });
    </script>
{% endblock %}
{% endblock %}
</html>