<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "NFQ #5" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/headerStyle.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bodyStyle.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/regimeInputFormStyle.css') }}"/>
        <link rel="stylesheet" href="{{ asset('fonts/glyphicons-haflings-regular.ttf') }}">
        <link rel="stylesheet" href="{{ asset('fonts/Oswald-Light.ttf') }}">
        <link rel="stylesheet" href="{{ asset('css/regimeStyle.css') }}">
        <link rel="stylesheet" href="{{ asset('css/commentsStyle.css') }}">
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
{% block body %}
<div class="container">
    {% block container %}
        {% block header %}
            {% include "::inc/header.html.twig" %}
        {% endblock %}
    <div class="container-fluid text-center">
        <div class="row content">
            {% block sideBarLeft %}
                {% include "::inc/left_column.html.twig" %}
            {% endblock %}
            <div class="col-sm-7 text-left">
                {% block content %}
                {% endblock %}
            </div>

            {% block sideBarRight %}
                {% include "::inc/right_column.html.twig" %}
            {% endblock %}
            
    {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% include "::inc/footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/angular.min.js') }}"></script>
    <script src="{{ asset('assets/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/regimeModule.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
{% endblock %}
</html>