{% extends 'newWorkoutTemplate.html.twig' %}
{% block title %}
    Nauja programa
{% endblock %}
{% block content %}
    <div class="form">
        {{ form_start(form) }}

        {% if not form.vars.valid %}
            <div class="alert alert-danger alert-dissmissible" role="alert">
                {{ form_errors(form.description) }}
            </div>
        {% endif %}
        <div class="field-wrap">
            <label>
                Pavadinimas <span class="req">*</span>
            </label>
            {{ form_widget(form.title, {'attr':{'autocomplete':'off'}}) }}
        </div>

        <h1 class="description"> Programos sudėtingumas </h1>
        <div id="form_difficulty" class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary veryEasy"> {{ form_widget(form.difficulty.0) }} Labai lengva</label>
            <label class="btn btn-primary easy"> {{ form_widget(form.difficulty.1) }} Lengva </label>
            <label class="btn btn-primary active medium"> {{ form_widget(form.difficulty.2,{'attr':{'checked':'checked'}}) }} Vidutinė</label>
            <label class="btn btn-primary hard"> {{ form_widget(form.difficulty.3) }} Sunki</label>
            <label class="btn btn-primary veryHard"> {{ form_widget(form.difficulty.4) }} Labai sunki</label>
        </div>
        {{ form_widget(form.difficulty, {'attr':{'class':'btn-group' , 'data-toggle':'buttons'}}) }}
        <h1 class="description"> Programos aprašymas <span style="color:yellow" class="req">*</span> </h1>
        <div class="field-wrap">
            {{ form_widget(form.description, {'attr':{'autocomplete':'off', 'rows':6}}) }}
        </div>

        <h1 class="description"> Programos tvarkaraštis </h1>
        <ul class="nav nav-pills radios">
            <li class="active"><a data-toggle="pill" href="#day1">Pirm.</a></li>
            <li><a data-toggle="pill" href="#day2">Antr.</a></li>
            <li><a data-toggle="pill" href="#day3">Treč.</a></li>
            <li><a data-toggle="pill" href="#day4">Ketv.</a></li>
            <li><a data-toggle="pill" href="#day5">Penkt.</a></li>
            <li><a data-toggle="pill" href="#day6">Šešt.</a></li>
            <li><a data-toggle="pill" href="#day7">Sekm.</a></li>
        </ul>
        <div class="tab-content" id="form_schedule">
            <div id="day1" class="tab-pane fade in active">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.0, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Pirmadienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day2" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.1, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Antradienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day3" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.2, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Trečiadienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day4" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.3, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Ketvirtadienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day5" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.4, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Penktadienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day6" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.5, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Šeštadienio tvarkaraštis'}}) }}
                </div>
            </div>
            <div id="day7" class="tab-pane fade">
                <div class="field-wrap">
                    {{ form_widget(form.schedule.6, {'attr':{'autocomplete':'off','rows':5,'placeholder':'Sekmadienio tvarkaraštis'}}) }}
                </div>
            </div>
        </div>
        <div style="color:white; margin-bottom: 40px;" class="row">
            <div class="col-lg-12">
                <div class="button-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Tipas <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="Jega" tabIndex="-1">{{ form_widget(form.type.0, {'attr':{'class':'checkbox'}}) }}&nbsp; Jega</a></li>
                            <li><a href="#" class="small" data-value="Ištvermė" tabIndex="-1">{{ form_widget(form.type.1, {'attr':{'class':'checkbox'}}) }}&nbsp; Ištvermė </a></li>
                            <li><a href="#" class="small" data-value="Vikrumas" tabIndex="-1">{{ form_widget(form.type.2, {'attr':{'class':'checkbox'}}) }}&nbsp; Vikrumas </a></li>
                            <li><a href="#" class="small" data-value="Svorio metimas" tabIndex="-1">{{ form_widget(form.type.3, {'attr':{'class':'checkbox'}}) }}&nbsp; Svorio metimas </a></li>
                            <li><a href="#" class="small" data-value="Svorio priauginimas" tabIndex="-1">{{ form_widget(form.type.4, {'attr':{'class':'checkbox'}}) }}&nbsp; Svorio priauginimas </a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Įranga <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="Jogos kamuolys" tabIndex="-1">{{ form_widget(form.equipment.0, {'attr':{'class':'checkbox'}}) }}&nbsp; Jogos kamuolys</a></li>
                            <li><a href="#" class="small" data-value="Dviratis" tabIndex="-1">{{ form_widget(form.equipment.1, {'attr':{'class':'checkbox'}}) }}&nbsp; Dviratis </a></li>
                            <li><a href="#" class="small" data-value="Suoliukas" tabIndex="-1">{{ form_widget(form.equipment.2, {'attr':{'class':'checkbox'}}) }}&nbsp; Suoliukas </a></li>
                            <li><a href="#" class="small" data-value="Skersinis" tabIndex="-1">{{ form_widget(form.equipment.3, {'attr':{'class':'checkbox'}}) }}&nbsp; Skersinis </a></li>
                            <li><a href="#" class="small" data-value="Hanteliai" tabIndex="-1">{{ form_widget(form.equipment.4, {'attr':{'class':'checkbox'}}) }}&nbsp; Hanteliai </a></li>
                            <li><a href="#" class="small" data-value="Štanga" tabIndex="-1">{{ form_widget(form.equipment.5, {'attr':{'class':'checkbox'}}) }}&nbsp; Štanga </a></li>
                            <li><a href="#" class="small" data-value="Specialūs treniruokliai" tabIndex="-1">{{ form_widget(form.equipment.6, {'attr':{'class':'checkbox'}}) }}&nbsp; Specialūs treniruokliai </a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Raumenys <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="small" data-value="Nugara" tabIndex="-1">{{ form_widget(form.muscle_group.0, {'attr':{'class':'checkbox'}}) }}&nbsp; Nugara</a></li>
                            <li><a href="#" class="small" data-value="Pečiai" tabIndex="-1">{{ form_widget(form.muscle_group.1, {'attr':{'class':'checkbox'}}) }}&nbsp; Pečiai </a></li>
                            <li><a href="#" class="small" data-value="Krūtinė" tabIndex="-1">{{ form_widget(form.muscle_group.2, {'attr':{'class':'checkbox'}}) }}&nbsp; Krūtinė </a></li>
                            <li><a href="#" class="small" data-value="Bicepsas" tabIndex="-1">{{ form_widget(form.muscle_group.3, {'attr':{'class':'checkbox'}}) }}&nbsp; Bicepsas </a></li>
                            <li><a href="#" class="small" data-value="Tricepsas" tabIndex="-1">{{ form_widget(form.muscle_group.4, {'attr':{'class':'checkbox'}}) }}&nbsp; Tricepsas</a></li>
                            <li><a href="#" class="small" data-value="Dilbis" tabIndex="-1">{{ form_widget(form.muscle_group.5, {'attr':{'class':'checkbox'}}) }}&nbsp; Dilbis </a></li>
                            <li><a href="#" class="small" data-value="Pilvo presas" tabIndex="-1">{{ form_widget(form.muscle_group.6, {'attr':{'class':'checkbox'}}) }}&nbsp; Pilvo presas </a></li>
                            <li><a href="#" class="small" data-value="Kojos" tabIndex="-1">{{ form_widget(form.muscle_group.7, {'attr':{'class':'checkbox'}}) }}&nbsp; Kojos </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="tags">

        </ul>
        {{ form_widget(form.type) }}
        {{ form_widget(form.save, {'attr':{'class':'button button-block'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}