{% extends "::homePageTemplate.html.twig" %}
{% block title %}
    Home Coach
{% endblock %}
{% block content %}
    <section id="home" class="parallax-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="home wow fadeInDown"> HOME <span class="homeSpan">COACH</span></h1>
                    {% if app.user is not null %}
                        <a href="{{ path('app.createWorkout') }}" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.6s">SUKURTI PROGRAMĄ</a>
                    {% else %}
                        <a href="/login" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.4s">PRISIJUNGTI</a>
                    {% endif %}
                    <a href="#mainSection" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.6s">RODYTI PROGRAMAS</a>
                    {% if app.user and app.user.activeworkout is not null %}
                        <a href="#activeWorkout" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="0.7s"> JŪSŲ AKTYVI PROGRAMA </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if app.user and app.user.activeworkout is not null %}
        <h2 id="activeWorkout" class="title"> Aktyvi programa </h2>
        <div class="row" id="activeWorkout">
            <div class="box col-md-4">
                <h2 style="font-family: Oswald"><a href="workouts/{{ app.user.activeworkout.id }}"> {{ app.user.activeworkout.title }}</a> </h2>
                <p> Autorius: <a href="showProfile/{{ app.user.activeworkout.creator.id }}"> {{ app.user.activeworkout.creator.username }}</a></p>
                <p class="description">{{ app.user.activeworkout.description[:150] }}</p>
                <a href="workouts/{{ app.user.activeworkout.id }}" class="button">Daugiau</a>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-pills radios">
                    {% set days = ["Pirm.", "Antr.", "Treč.", "Ketv.", "Penkt.", "Šešt.", "Sekm."] %}
                    {% set activeSet=false %}
                    {% set first=null %}
                    {% for i in 0..6 %}
                        <li {% if activeSet==false and app.user.activeworkout.schedule[i] != null %} class="active" {% set activeSet=true %} {% set first=i %}{% endif %}><a {% if app.user.activeworkout.schedule[i] == null %} class="disabled" {% endif %}data-toggle="pill" href="#day{{ i+1 }}">{{ days[i] }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="form_schedule">
                    {% for i in 0..6 %}
                        <div id="day{{ i+1 }}" class="tab-pane fade {% if i==first %} active in {% endif %}">
                            <p style="color:white;"> {{ app.user.activeworkout.schedule[i] }} </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container" id="mainSection">
        <div ng-app="workoutApp" ng-controller="workoutsController">

            <div style="margin-top:45px;">
                <input type="text" placeholder="Paieška pagal pavadinimą arba autorių" id="search" ng-change="searchInput(param)" ng-model="param.searchKey">
            </div>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Įranga <span class="caret"></span></button>
                                <ul id="equipment" class="dropdown-menu">
                                    <li ng-repeat="equipment in equipmentChoices"><a href="#" class="small" data-value="{[{ equipment.index }]}" tabIndex="-1"><input type="checkbox" value="00"/>&nbsp;{[{ equipment.title }]}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Tipas <span class="caret"></span></button>
                                <ul id="type" class="dropdown-menu">
                                    <li ng-repeat="type in typeChoices"><a href="#" class="small" data-value="{[{ type.index }]}" tabIndex="-1"><input type="checkbox" value="00"/>&nbsp; {[{ type.title }]}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Raumenys <span class="caret"></span></button>
                                <ul id="muscle" class="dropdown-menu">
                                    <li ng-repeat="muscle in muscleChoices"><a href="#" class="small" data-value="{[{ muscle.index }]}" tabIndex="-1"><input type="checkbox"/>&nbsp;{[{ muscle.title }]}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> Sudėtingumas <span class="caret"></span></button>
                                <ul id="diff" class="dropdown-menu">
                                    <li ng-repeat="difficulty in difficultyChoices"><a href="#" class="small" data-value="{[{ difficulty.index }]}" tabIndex="-1"><input type="checkbox"/>&nbsp;{[{ difficulty.title }]}</a></li>
                                </ul>
                            </div>
                            <span style="color:white;"> Rikiuoti pagal </span>
                            <input type="button" id="dateButton" value="Datą" ng-click="sortByDate()">  </input>
                            <input type="button" id="ratingButton" value="Reitingą" ng-click="sortByRatings()">  </input>
                        </div>
                    </div>
                </div>
            </div>
            <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
                <div class="row no-collapse-1 noOverflow">
                    <section class="col-md-4" ng-repeat="workout in workouts">
                        <div class="box">
                            <h3><span ng-if="workout.rating" class="infoStar">{[{ workout.rating }]} &starf;</span></h3>
                            <h2 style="font-family: Oswald"><a href="workouts/{[{ workout.id }]}"> {[{ workout.title }]}</a> </h2>
                            <p> Autorius: <a href="showProfile/{[{ workout.creator_id }]}"> {[{ workout.username }]}</a></p>
                            <p> Sukurta <span am-time-ago="workout.data_created"></span></p>
                            <p class="description">{[{ workout.description | limitTo:100 }]}</p>
                            <a href="workouts/{[{ workout.id }]}" class="button">Daugiau</a>
                        </div>
                    </section>
                </div>
            </div>
            <div ng-if="workouts.length==0" ng-init="loadBest()">
                <p class="workoutsNotFound">Pagal paiešką neradome nei vienos programos pateikiame geriausiai įvertintas</p>
                <div class="row no-collapse-1 noOverflow">
                    <section class="col-md-4" ng-repeat="workout in bestWorkouts">
                        <div class="box">
                            <h3><span ng-if="workout.rating" class="infoStar">{[{ workout.rating }]} &starf;</span></h3>
                            <h2 style="font-family: Oswald"><a href="workouts/{[{ workout.id }]}"> {[{ workout.title }]}</a> </h2>
                            <p> Autorius: <a href="showProfile/{[{ workout.creator_id }]}"> {[{ workout.username }]}</a></p>
                            <p> Sukurta <span am-time-ago="workout.data_created"></span></p>
                            <p class="description">{[{ workout.description | limitTo:100 }]}</p>
                            <a href="workouts/{[{ workout.id }]}" class="button">Daugiau</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {% include "::inc/header.html.twig" %}
{% endblock %}