{% extends 'base3.html.twig' %}
{% block title %}
    {{ workout.title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1 class="info"> Sudėtingumas </h1>
            <h1 class="info"> Reitingas </h1>
        </div>
        <div class="col-md-5">
            <div id="difficulty"></div>
            <div style="margin-top:15px;" id="rating"></div>
        </div>
        <div class="col-md-3">
            <h1 class="info"> Pasirinko </h1>
           <h1 class="number"> {{ workout.activations|length }} </h1>
        </div>
    </div>
            <h1 class="description">{{ workout.title }} </h1>
    <div class="row">
        <div class="col-md-12">
            <p style="word-break: break-all"> {{ workout.description|nl2br }} </p>
            {% include 'AppBundle:Home:activateWorkout.html.twig' with {'form': activateForm} only %}
        </div>
    </div>
    {% set showSchedule=false %}
    {% set regimeNull=0 %}
    {% for i in 0..6 %}
        {% if workout.schedule[i]!=null %}
            {% set showSchedule=true %}
        {% endif %}
    {% endfor %}
    {% if showSchedule %}
        <h2 class="description"> Programos tvarkaraštis</h2>
        <ul class="nav nav-pills radios">
            {% set days = ["Pirm.", "Antr.", "Treč.", "Ketv.", "Penkt.", "Šešt.", "Sekm."] %}
            {% set activeSet=false %}
            {% set first=null %}
            {% for i in 0..6 %}
                <li {% if activeSet==false and workout.schedule[i] != null %} class="active" {% set activeSet=true %} {% set first=i %}{% endif %}><a {% if workout.schedule[i] == null %} class="disabled" {% endif %}data-toggle="pill" href="#day{{ i+1 }}">{{ days[i] }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="form_schedule">
            {% for i in 0..6 %}
                <div id="day{{ i+1 }}" class="tab-pane fade {% if i==first %} active in {% endif %}">
                    <p style="word-break: break-all"> {{ workout.schedule[i]|nl2br }} </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if app.user is not null %}
        <h2 class="description"> Įvertinkite programą </h2>
        {% if app.user is not null %}
        Tavo ivertinimas: {{ workout.userRating(app.user.id) }}
        {% endif %}
        <br>
        {{ form_start(formRate, {'attr':{'id':'rating'}}) }}
        <div class="rating">
            {{ form_widget(formRate.rating.4, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.3, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.2, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.1, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.0, {'attr':{'class':'radio_item'}}) }}

            {% for i in [4,3,2,1,0] %}
                <label id="{{ i+1 }}" class="label_item {% if workout.userRating(app.user.id) > i %} coloredStar {% endif %}" for="workout_rating_rating_{{ i }}"> <span>&#9734</span> </label>
            {% endfor %}
        </div>
        {{ form_end(formRate) }}
        <br>
    {% endif %}
    <div class="fb-like" data-href="http://homecoach.projektai.nfqakademija.lt/workouts/{{ workout.id }}" data-layout="standard" data-action="like" colorscheme="dark" data-show-faces="true" data-share="true"></div>
    <h2 class="description"> Komentarai </h2>
    <ul style="margin-bottom:10px;" class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu1">Home Coach <span class="badge alert-info">{{ workout.comments|length }}</span> </a></li>
        <li class="active"><a data-toggle="tab" href="#menu2">Facebook</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade">
            {% include "AppBundle:Home:showComment.html.twig" with {'comments': workout.comments} only %}
            {% if app.user is not null %}
                {{ form_start(form) }}
                {{ form_widget(form.comment, {'attr':{'class':'form-control', 'rows':4, 'placeholder':'Parašykite savo komentarą'}}) }}
                {{ form_widget(form.save, {'attr':{'class':'submitConfirmed'}}) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
        <div id="menu2" style="color:white" class="tab-pane fade in active">
            <div class="fb-comments" data-href="http://homecoach.projektai.nfqakademija.lt/workouts/{{ workout.id }}" data-width="100%" data-numposts="5" colorscheme="dark"></div>
        </div>
    </div>
{% endblock %}