{% extends 'base3.html.twig' %}

{% block content %}
        <div class="inline">
            <h1 class="description">{{ workout.title }} </h1>
        </div>
        <div class="inline">
            {{ workout.difficulty | difficulty }}
        </div>
    <br class="clearBoth" />
    <div class="row">
        <div class="col-md-5">
            Sukurta: {{ workout.dataCreated.format('H:i:s Y-m-d') }}
            <br><br>
            Siuo metu programa aktyvave {{ workout.activations|length }} zmones!
            {% include 'AppBundle:Home:activateWorkout.html.twig' with {'form': activateForm} only %}
        </div>
        <div class="col-md-7">
            <div id="rateYo"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="word-break: break-all"> {{ workout.description }} </p>
        </div>
    </div>
    <h2 class="description"> Programos tvarkaraštis</h2>
    <ul class="nav nav-pills radios">
        <li class="active"><a data-toggle="pill" href="#day1">Pirm.</a></li>
        <li><a data-toggle="pill" href="#day2">Antr.</a></li>
        <li><a data-toggle="pill" href="#day3">Treč.</a></li>
        <li><a data-toggle="pill" href="#day4">Ketv.</a></li>
        <li><a data-toggle="pill" href="#day5">Penkt.</a></li>
        <li><a data-toggle="pill" href="#day6">Šešt.</a></li>
        <li><a data-toggle="pill" href="#day7">Sekm.</a></li>
    </ul>
    <div class="tab-content" id="form_schedule">
        <div id="day1" class="tab-pane fade in active">
            {% if workout.schedule[0] != null %}
                <p style="word-break: break-all"> {{ workout.schedule[0] }} </p>
            {% else %}
                <p> Ši diena laisva </p>
            {% endif %}
        </div>
        {% for i in 1..6 %}
            <div id="day{{ i+1 }}" class="tab-pane fade">
                {% if workout.schedule[i] != null %}
                    <p style="word-break: break-all"> {{ workout.schedule[i] }} </p>
                {% else %}
                    <p> Ši diena laisva </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if app.user is not null %}
        <h2 class="description"> Įvertinkite programą </h2>
        {% if app.user is not null %}
        Tavo ivertinimas: {{ workout.userRating(app.user.id) }}
        {% endif %}
        <br>
        {{ form_start(formRate, {'attr':{'id':'rating'}}) }}
        <div class="rating">
            {{ form_widget(formRate.rating.4, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.3, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.2, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.1, {'attr':{'class':'radio_item'}}) }}
            {{ form_widget(formRate.rating.0, {'attr':{'class':'radio_item'}}) }}

            {% for i in [4,3,2,1,0] %}
                <label id="{{ i+1 }}" class="label_item {% if workout.userRating(app.user.id) > i %} coloredStar {% endif %}" for="workout_rating_rating_{{ i }}"> <span>&#9734</span> </label>
            {% endfor %}
        </div>
        {{ form_end(formRate) }}
        <br>
    {% endif %}
    <div class="commentSection">
        {% if workout.comments|length > 0 %}
            <h2 class="description"> Komentarai <span class="badge alert-info">{{ workout.comments|length }}</span></h2>
            {% include "AppBundle:Home:showComment.html.twig" with {'comments': workout.comments} only %}
        {% else %}
            <h2 class="description"> Komentarų dar nėra </h2>
        {% endif %}
        <div class="fb-comments" data-href="http://127.0.0.1:8000/workouts/{{ workout.id }}" data-width="100%" data-numposts="5"></div>
        {% if app.user is not null %}
        {{ form_start(form) }}
        {{ form_widget(form.comment, {'attr':{'class':'form-control', 'rows':4, 'placeholder':'Parašykite savo komentarą'}}) }}
            {{ form_widget(form.save, {'attr':{'class':'submitConfirmed'}}) }}
        {{ form_end(form) }}
            {% endif %}
    </div>
{% endblock %}