{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
          <h1> {{ user.username }} </h1>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            <h2 style="color: white; margin:0px;"> <span class="glyphicon glyphicon-user"></span> {{ user.name }} {{ user.surname }} </h2> <br>
            <h2 style="color: white; margin:0px;"> <span class="glyphicon glyphicon-envelope"></span> {{ user.email }} </h2>
        </div>
    </div>
    <ul style="margin-bottom:10px;" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#createdWorkouts"> Sukurtos programos <span class="badge alert-info">{{ user.createdWorkouts|length }}</span></a></li>
        {% if app.user is not null %}
            {% if app.user.id == user.id %}
                {% if user.workoutHistory|length != 0 %}
                    <li><a data-toggle="tab" href="#history"> Istorija <span class="badge alert-info">{{ user.createdWorkouts|length }}</span> </a></li>
                {% endif %}

                {% if user.activeWorkout is not null %}
                 <li><a data-toggle="tab" href="#active">Aktyvi programa </a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
    <div class="tab-content" data-spy="scroll" data-target="#scrollSpy">
        <div id="createdWorkouts" class="tab-pane fade in active">
            {% if user.createdWorkouts is not null %}
                <div class="row">
                    <nav class="col-md-4" id="scrollSpy">
                        <ul style="overflow-y: scroll; height: 400px;" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="200">
                            {% for workout in user.createdWorkouts %}
                                <li><a href="#sectionCreated{{ workout.id }}"> {{ workout.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="col-md-8">
                    {% for workout in user.createdWorkouts %}
                        <div style="margin-bottom: 10px;" class="box" id="sectionCreated{{ workout.id }}">
                            {% if workout.rating is not null %}
                                <h3><span class="infoStar">{{ workout.rating }} &starf;</span></h3>
                            {% endif %}
                            <h2 style="font-family: Oswald"><a href="../workouts/{{ workout.id }}"> {{ workout.title }}</a> </h2>
                            <p> Pasirinko <span class="badge alert-info">{{ workout.activations|length }}</span> </p>
                            <p>{{ workout.description[:150] }}</p>
                            <a href="../workouts/{{ workout.id }}" class="button">Daugiau</a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if app.user is not null %}
            {% if app.user.id == user.id %}
                {% if user.activeWorkout is not null %}
                    <div id="active" class="tab-pane fade">
                        <div class="box">
                            {% if user.activeWorkout.rating is not null %}
                                <h3><span class="infoStar">{{ user.activeWorkout.rating }} &starf;</span></h3>
                            {% endif %}
                            <h2 style="font-family: Oswald"><a href="workouts/{{ user.activeWorkout.id }}"> {{ user.activeWorkout.title }}</a> </h2>
                            <p>{{ user.activeWorkout.description[:300] }}</p>
                            <a href="../workouts/{{ user.activeWorkout.id }}" class="button">Daugiau</a>
                        </div>
                    </div>
                {% endif %}
                {% if user.workoutHistory|length != 0 %}
                        <div id="history" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-12">
                                {% for history in user.workoutHistory %}
                                    <div style="margin-bottom: 10px;" class="box" id="#sectionHistory{{ history.id }}">
                                        {% if history.Workout.rating is not null %}
                                            <h3><span class="infoStar">{{ history.Workout.rating }} &starf;</span></h3>
                                        {% endif %}
                                        <h2 style="font-family: Oswald"><a href="workouts/{{ history.Workout.id }}"> {{ history.Workout.title }} </a> </h2>
                                        <p> Pasirinkta: {{ history.date|date('Y-m-d') }} </p>
                                        <p>{{ history.Workout.description[:300] }}</p>
                                        <a href="../workouts/{{ history.Workout.id }}" class="button">Daugiau</a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </h4>

    {% if weightForm is defined %}
        {{ form_start(weightForm) }}
            {{ form_errors(weightForm) }}
            {{ form_row(weightForm.svoris) }}
        {{ form_end(weightForm) }}

        {% block graph %}
            <canvas id="myChart" width="400" height="400"></canvas>
        {% endblock %}
        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset('assets/Chart.min.js') }}"></script>
            <script src="{{ asset('js/weightGraph.js') }}"></script>
            <script>
                var data = {{ data|json_encode|raw }};
            </script>
        {% endblock %}
    {% endif %}

    </div>
    <div class="affixEnd"></div>
{% endblock %}