{% trans_default_domain 'FOSUserBundle' %}

{% extends "@User/layout.html.twig" %}

{% block fos_user_content %}
    <div class="form">
        {% if error %}
            <div class="alert alert-danger alert-dissmissible" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <ul class="tab-group">
            <li class="tab"><a href="/register">Registruotis</a></li>
            <li class="tab active"><a>Prisijungti</a></li>
        </ul>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="field-wrap">
                <label for="username">{{ 'security.login.username'|trans }} </label>
                <input autocomplete="off" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="field-wrap">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input autocomplete="off" type="password" id="password" name="_password" required="required" />
            </div>

            <div style="display:inline-block;" class="field-wrap">
                <p style="color:white;" for="remember_me">{{ 'security.login.remember_me'|trans }}</p>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </div>

            <input class="button button-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
{% endblock fos_user_content %}