<section class="navbar navbar-default navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"> <span style="color:orange"> HOME </span> COACH </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right main-navigation">
                {% if app.user is not null %}
                    <li><a href="{{ path('app.createWorkout') }}" class="smoothScroll">SUKURTI PROGRAMĄ</a></li>
                    <li><a href="/showProfile/{{ app.user.id }}" class="smoothScroll">PROFILIS</a></li>
                    <li style="color: black;"><span class="loginInfo"> {{ 'layout.logged_in_as' | trans({'%username%': app.user.username}, 'FOSUserBundle') }} </span> </li>
                    <li> <a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-off"></span>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                {% else %}
                    <li><a href="/login" class="smoothScroll">PRISIJUNGTI</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</section>
