    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
        <label>Email</label>
        <input type="text" name="_username" required="required" />

        <label>Password</label>
        <input type="password" name="_password" required="required" />

        <button type="submit">Submit</button>
    </form>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand name" href="#">Namu treneris</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                Meniu
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Namai</a></li>
                <li><a href="/about">Apie</a></li>
                <li><a class="popup" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control loginInput" name="username" placeholder="Prisijungimo vardas">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control loginInput" name="password" placeholder="Slaptažodis" id="pass">
                </div>
                <button type="submit" class="btn btn-default">Prisijungti</button>
            </form>
        </div>
    </div>
</nav>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Registracijos forma</h3>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Vardas"/>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Pavardė" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="email" class="form-control" placeholder="El. paštas" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Prisijungimo vardas" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Slaptažodis" />
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" placeholder="Pakartokite slaptažodi" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" class="form-control registrationButton" value="Registruotis"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>